{% extends 'base.html' %}

{% block content %}

    
    <div class="container">
            <!-- message success -->
            <div id="messages">
                {% if messages %}
                    {% for message in messages %}
                           <div class="alert {{ message.tags }} alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                </button>
                                 {{ message }}
                           </div>
                    {% endfor %}


                {% endif %}
            </div>

        <h1>Personal account</h1>
        <a class="btn btn-primary" href="{% url 'index' %}" style="margin-top: -60px">На главную</a>
        <div class="col-md-2">

        <ul class="nav nav-pills nav-stacked " style="margin-top: 40px;">
            <li>
                <a href="{% url 'personal_account' %}">Аккаунт</a>
            </li>
            <li>
                <a href="{% url 'change_password' %}">Изменить пароль</a>
            </li>
            <li>
                <a href=" {% url 'my_tickets' %}">Мои билеты</a>
            </li>
        </ul>
        </div>

                <div class="col-md-6 col-md-offset-2">
                    {% block account %}
                        <h1>Профиль пользователя</h1>
                    <div class="jumbotron">
                        <h3>email : {{ user }}</h3>
                        <h3>name : {{ user.firstname }}</h3>
                        <h3>lastname: {{ user.lastname }}</h3>
                        <h3>birth day: {{ user.date_of_birth }}</h3>
                    </div>
                    {% endblock %}

            </div>



        </div>
    </div>
    

{% endblock %}